stages:
  - test

include:
  - project: 'Northern.tech/Mender/mendertesting'
    file:
      - '.gitlab-ci-check-commits.yml'
      - '.gitlab-ci-check-license.yml'
      - '.gitlab-ci-github-status-updates.yml'
      - '.gitlab-ci-check-shell-format.yml'

test:check-shell-formatting:
  before_script:
    - SHELL_SCRIPTS="src/docker-compose src/container-modules-common.sh"
